<div class="w-full flex items-center gap-3 py-1 cursor-pointer group">
  <div class="flex items-center gap-2">
    <div class="w-28 h-28 rounded flex items-center justify-center text-white font-bold text-sm overflow-hidden shrink-0">
      <img src="assets/img/logo.svg.webp" alt="Logo" class="w-full h-full object-contain">
    </div>

    <div class="hidden sm:flex flex-col items-start overflow-hidden text-left">
      <span class="text-[15px] font-semibold text-text-muted tracking-wide whitespace-nowrap">Prolance</span>
    </div>
  </div>
</div>
